@media all and (orientation: landscape), all and (min-width: 1235px) { 

.header {
    margin: 0;
    position: absolute;
    left: 0;
    height: 55px;
    /* min-width: 1250px; */
    width: 100vw;
    background-color: rgba(0, 103, 163, 1);
    display: flex;
    justify-content: space-between;
}

h1 {
    position: relative;
    display: flex;
    left: 20px;
    /* top: 11px; */
    /* padding-left: 20px;
    padding-top: 11px; */
    width: 331px;
    height: 26px;
    color:rgba(255, 255, 255, 1);
    font-family:Roboto, Helvetica, sans-serif;
    font-size: 28px;
    vertical-align: top;

}

.logos {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    right: 10px;
}

.arrow-select {
    border: none;
    background-color: rgba(0, 103, 163, 1);
    cursor: pointer;
}

.active {
    position: absolute;
    top: 0px;
    right: 8px;
}

.inactive {
    display: none;
}

.logo {    
    position: relative;
    /* top: 8px; */
    right: 41px;
    height: 40px;
    width: 40px;
}

.arrow {
    position: absolute;
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.user-menu{
    right: 5px;
    top: 11px;
}

.profile-rectangle {
    position: absolute;
    top: 53px;
    right: 45.44px;
}

.profile-menu-list {
    justify-content: center;
    vertical-align: middle;
    text-align: left;
    list-style: none;
    position: absolute;
    top: 61px;
    right: 9px;
    width: 134px;
    height: 60px;
    border-radius: 5px;
    background-color: #FFFFFF;
    padding-top: 5px;
}

.profile-menu-li {
    height: 22px;
    width: 120px;
    margin: 0 auto;
    margin-top: 3px;
}

.profile-menu-li:hover {
    cursor: pointer;
    background-color: rgba(0, 103, 163, 1);
    color: #FFFFFF;
}

}