.App {
  text-align: center;
}

html {
  background-color: rgb(30, 137, 199);
  margin: 0 auto;
  width: 1250px;
  height: 700px;
}

body {
  width: 100%;
  height: auto;
}
/* 
.container {
  max-width: 1250px; 
  margin: 0 auto;
} */